.flexbox {
    display: flex;
    padding: 5px;
}
.msg-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #272727;
}
nav {
    margin: 0px;
    padding: 5px;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #333;
    color: #eee;
    font-family: Helvetica, Arial, sans-serif, monospace
}
sub, sup {
    font-size: 0.5em;
}
a {
    color: #00fe4f;
}
#main-content {
    padding: 20px;
}