.flexbox {
    display: flex;
    padding: 5px;
}
.msg-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #272727;
}
.flex-align-right {
    padding-right: 5px;
    padding-left: auto;
}
.flex-align-center {
    align-self: center;
}
nav {
    margin: 0px;
    padding: 5px;
    color: #0f4;
    background-color: #111;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #333;
    color: #eee;
    font-family: Helvetica, Arial, sans-serif, monospace
}
sub, sup {
    font-size: 0.5em;
}
a {
    color: #00fe4f;
}
a.no-underline {
    text-decoration: none;
}
#main-content {
    padding: 20px;
}